.channels-list {
  max-height: 40vh;
  min-height: 80px;
  overflow-y: auto;
}
.message-svg {
  position: absolute;
  left: 20px;
  fill: #6c757d;
  cursor: pointer;
  z-index: 10;

  &:hover {
    fill: #0d6efd;
  }
}

.chat-messages {
  max-height: 50vh;
  min-height: 120px;
  overflow-y: auto;
}
